
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
body{
    background-image: url('images/background.jpg');
     max-width: 100%;
     max-height: 100%;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 109vh;
    
   
}

.container{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-top: 30px;
    
}
.container ul li{
    display: flex;
    list-style: none;
    padding: 20px;
    
}
ul{
    cursor: pointer;
    display: inline-flex;
    padding-left: 400px;
    font-weight: bold;
    font-size: 15px
  
   
}
.btn{
    margin-right: 100px;
    border: solid;
    border-color: rgb(27, 106, 175);
    background: none;
     padding-left: 10px;
     padding-right: 10px;
     color: rgb(27, 106, 175);
     font-weight: bold;
     cursor: pointer;
}
.logo{
    margin-left: 20px;
    color: rgb(27, 106, 175);
    padding-top: 15px;
}
.logo span{
    color: rgb(167, 182, 30);
}
.btn:hover{
    color:white;
    background-color: rgb(27, 106, 175);
}
.main{
    padding-top: 200px;
    margin-left: 100px;
}
.summer{
    font-size: 60px;
    color:rgb(27, 106, 175)

}
.tour{
    font-size: 20px;
}
.adv{
    font-size: 20px;
    
}
.btn2{
    
    border: none;
  
    background: rgb(27, 106, 175);
    
     color: rgb(255, 255, 255);
     font-weight: bold;
     cursor: pointer;
     margin-top: 20px;
     padding-top: 10px;
     padding-left: 30px;
     padding-right: 30px;
     padding-bottom: 10px;
     margin-left: 90px;


}
.btn2:hover{
    background: none;
    color: rgb(27, 106, 175);
    border: solid;
    border-color: rgb(27, 106, 175);

}



.container ul li:hover{
    color: rgb(167, 182, 30);
}